<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>로그인</title>
    <link rel="stylesheet" href="style.css">
    <style>
    
        #button {
            display: block;
            padding: 10px 30px;
            width: 150px;
            margin: 0 auto; /* 중앙 정렬 */
            margin-top: 10px;
            background-color: #007bff;
            color: white;
            border-radius: 20px;
            text-align: center;
        }

    </style>
</head>

<body>
    <div class="container">
        <div id="login">
            <h2>로그인</h2>
            <form action="#" th:action="@{/login}" method="post">
                <input type="text" id="userId" name="userId" placeholder="아이디" required>
                <input type="password" id="pw" name="pw" placeholder="비밀번호" required>
                <div clss="center-container">
                    <input type="submit" id="button" value="로그인">
                </div>
            </form>
            <p class="switch1">계정이 없으신가요? <span class="switch2" th:onclick="|window.location.href='@{/register}'|">가입하기</span></p>
        </div>
    </div>

    <script src="script.js"></script>
    <script th:if="${message}">
        alert('[[${message}]]');
    </script>
</body>

</html>
