<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>운동</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbuYXE96kNreYvhPaTG6Gf2u1UGQu7mxM&libraries=places"></script>

</head>
<!--<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBr_PH4-hpCRWlLg0e09Dmnx5jx8fFqTIo&libraries=places"></script>-->

<body>
    <div class="container">
        <div id="userDetails">
            <button type="button" th:onclick="|window.location.href='@{/}'|" class="back-button2"><img src="./img/arrow.png"></button>
            <h2 id="locName"></h2>
            <div id="limitTime"></div>
            <p>현재 포인트 : <span id="userPoints"></span></p>
            <div id="map"></div>
            <div id="results"></div>
            <div id="changeLoc">
                <button class="nearLoc" onclick="minusIndex()">← 더 가까운 장소</button>
                <button class="farLoc" onclick="plusIndex()">더 먼 장소 →</button>
            </div>
        </div>
    </div>
    <script>
        window.onload = function() {
            displayUserDetails();
        };
    </script>
    <script th:inline="javascript">
        var userData = /*[[${userData}]]*/ {};
        var totalPoints = /*[[${totalPoints}]]*/ {};
    </script>
    <script src="script.js"></script>
</body>
</html>
