<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>가입하기</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <h1>정보 수정</h1>
        <div class="info">
            <form th:action="@{/updateProfile}" th:object="${user}" method="post">
                <input type="hidden" name="userId" th:value="${user.userId}"/>
                <p><label for="userId">아이디:</label>
                    <input type="text" id="userId" th:value="${user.userId}" disabled="disabled" style="background-color: #e9ecef;" /></p>
                <p><label for="name">닉네임:</label><input type="text" name="name" th:value="${user.name}" required /></p>
                <p><label for="pw">비밀번호:</label><input type="password" name="pw" th:value="${user.pw}" required /></p>
                <p><label for="email">이메일:</label><input type="email" name="email" th:value="${user.email}" required /></p>
                <button type="submit" class="button" id="button">수정하기</button>
            </form> 
            <form id="deleteForm" th:action="@{/deleteUser/{id}(id=${user.id})}" method="get">
                <button type="button" class="deleteButton" id="button">탈퇴하기</button>
            </form>
        </div>
    </div>
    <script th:if="${message}">
        alert('[[${message}]]');
    </script>
    <script src="script.js"></script>
    <script>
        var deleteButton = document.querySelector('.deleteButton');
        deleteButton.addEventListener('click', function() {
            var confirmAction = confirm("정말 탈퇴하시겠습니까?");
            if (confirmAction) {
                document.getElementById('deleteForm').submit();
            } else {
                alert("탈퇴가 취소되었습니다.");
            }
        });
    </script>
</body>

</html>
